<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>Send HTML Payload</title>
<style type="text/css">
</style>
</head>
<body>
  <form method="POST" action="/postPage">
    <p>URL:<input type="text" name="url"></p>
    <p>CMD:<input type="text" name="cmd"></p>
    <p><input type="submit"></p>
  </form>

  <h5 style="color:red">
    <% if (message) { %>
      <br><hr>
      <%= message %><br>
    <% } %>
  </h5>
</body>
</html>
